spring:
  application:
    name: "Keyboard Database"
  profiles:
    active: dev
server:
  context-path: /
  port: 8080
  ssl:
    enabled: false
    key-store: classpath:tomcat.keystore
    key-store-password: changeme
    key-password: changeme
logging:
  level:
    org:
      schlocknet: DEBUG

# ===== D E V E L O P E N T =======================================================================================
---
spring:
  profiles: dev
jwt:
  secret: changeme

# ===== P R O D U C T I O N =======================================================================================
---
spring:
  profiles: prod